* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  min-height: 100vh;
  padding-top: 94px;
}

.header-image {
  background-image: url("../img/header-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
}

.header-logo {
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}

.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}

.header-phone {
  flex-shrink: 0; /* Отвечает за сжатие если скукожился */
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  background: #3a71d1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 25px 60px;
  gap: 10px;
  border: none;
  cursor: pointer;
}

.header-button {
  height: 100%;
}

.header-content {
  color: #fff;
  padding-top: 150px;
  position: relative;
  z-index: 1;
}

.separator {
  background: #5c8ee5;
  width: 150px;
  height: 2px;
}

.header-title {
  max-width: 1008px;
  font-family: Bebas Neue;
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  line-height: 120%;
  margin: 30px 0;
}

.header-text {
  max-width: 720px;
  color: #fff;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  margin-bottom: 50px;
}

.header-features {
  min-height: 168px;
  position: relative;
  list-style: none;
  color: #fff;
  display: flex;
  padding: 0;
  margin-top: 100px;
}

.header-faetures-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-faetures-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  font-size: 16px;
  line-height: 160%;
}

.section {
  margin: 150px 0;
}

.section-title {
  font-family: Bebas Neue;
  color: #292d33;
  font-size: 60px;
  line-height: 120%;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  font-family: Bebas Neue;
  color: #5c8ee5;
  font-size: 48px;
  line-height: 120%;
  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #ebebf0;
  margin-left: 30px;
}

.steps-title {
  color: #292d33;
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.steps-text {
  color: #828a99;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.steps-link {
  text-decoration: none;
  color: #5c8ee5;
  font-size: 16px;
  line-height: 160%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.steps-link::before {
  content: "";
  height: 1px;
  width: 40px;
  background: #5c8ee5;
  margin-right: 20px;
}
